<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header_fragment">
    <meta charset="UTF-8">
    <title></title>
    <script th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.js}"></script>
    <script th:src="@{https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>

</body>
<footer th:fragment="footer_fragment">
    &copy; 2016
</footer>
</html>